version: '3'

services:
    db:
        image: postgres:11
        container_name: database
        restart: always
        volumes: 
            - ./database/data:/var/libs/postgresql/data
            - ./database/config:/docker-entrypoint-initdb.d/
        ports:
            - "5432:5432"
    pgadmin-test:
        image: dpage/pgadmin4
        container_name: pgadmin-test
        environment: 
            PGADMIN_DEFAULT_EMAIL: admin
            PGADMIN_DEFAULT_PASSWORD: admin
        volumes:
            - pgadmin:/var/lib/pgadmin
        ports:
            - "5050:80"
        depends_on:
            - db
    backend:
        build: ./backend
        container_name: backend
        ports:
            - "3000:3000"
        depends_on: 
            - db
    frontend:
        build: ./frontend
        container_name: frontend
        ports:
            - "80:80"
    frontend-2:
        build: ./frontend-2
        container_name: frontend-2
        ports:
            - "81:80"
volumes: 
    pgadmin: